
header{
    background-color: rgb(149, 74, 184);
    height: 100px;
    width: 750px;
    margin: auto;
}
section{
    width: 750px;
    margin: auto;
    
}

.coluna-1 {
    width: 150px;
    height: 100px;
    padding: 15px;
    background-color: lightcoral;
    float: left;
}

.conteudo {
    width: 350px;
    height: 200px;
    padding: 15px;
    margin: auto;
    background-color: lightcyan;
  }
 .coluna-2 {
     width: 150px;
     height: 100px;
    padding: 15px;
     background-color: lightcoral;
     position: relative;
     float: right;
     margin-top: -230px;
 }